<!DOCTYPE html>
<html>
<head>
  <title>ContentFor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>this is where we should see the "Home" link appear that is defined in _header.html.erb:</p> 


<%= yield(:navigation) %>


<%= yield %>


</body>
</html>
